@model Admin_MVC.Models.TermoData

@{
    ViewData["Title"] = "Termos";
}

<h1>Termos</h1>


<table class="table">
    <thead>
        <tr>
            <th>
                <label>Editar Termos</label>
            </th>
    </thead>
    <tbody>
        <tr>
            <td>
                <a asp-action="Edit" class="btn btn-primary">Editar</a>
            </td>
        </tr>
    </tbody>
</table>
